body{
    background-image: url(hack1.jpg);
    max-height: 100vh;
    overflow: hidden;
    background-size: cover;
    font-size: 25px;
    font-weight: 400;
}
.login-container {
    width: 1400px;
    height: 700px;
    background-image: linear-gradient(to right, #ffffff , #ffffff, #379fc5c0);
    border-radius: 10px;
    margin: 150px auto 50px auto;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .login-text{
    font-size: 32px;
    font-weight: 500;
    padding: 100px 0px 0px 50px;
    color: #577BFA;
  }
  input[type=text] {
    width: 30%;
    font-size: 20px;
    padding: 20px 20px 20px 20px;
    margin: 50px 0px 0px 50px;
    box-sizing: border-box;
    border-radius: 7px;
    background-color: #00000000;
    border: 1px solid #ccc;
    transition: width 0.4s ease-in-out;
  }
  input[type=text]:focus {
    width: 40%;
  }
  input[type=submit] {
    width: 30%;
    font-size: 24px;
    background-color: #577BFA;
    color: white;
    padding: 20px 20px 20px 20px;
    margin: 50px 0px 0px 50px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #2756ff;
  }

  